* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
}


.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.logo {
    grid-area: 1/1/2/3;
    display: flex;
    align-items: center;
    padding-left: 1rem;

}

.logo img {

    width: 70px;
    height: 70px;

}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    grid-column: 3/4;

}

.navbar ul li {
    list-style: none;
}

#navIcon {
    display: none;
}

.navbar ul li a {
    text-decoration: none;
}

@media(max-width:768px) {
    .logo {
        grid-area: 1/1/2/2;
    }

    .navbar ul {
        grid-column: 2/4;
        padding-left: 10%;
    }
}

@media(max-width:480px) {

    .navbar ul li {
        display: none;
        position: relative;
    }

    #navIcon {
        display: block;
        position: absolute;
        right: 10%;

    }
}

/* main-page */

.main-page {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.main-page-left-side {
    grid-area: 1/1/2/2;
    margin-top: 30px;

    width: 100%;
    height: 70vh;
    padding-left: 1rem;

}

.main-page-left-side button {
    width: 5rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #6d6161;
    color: white;
}

.main-left-content {
    margin-top: 1.2rem;
}


.main-page-rigth-side {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: end;
    height: 70vh;
}

.main-page-rigth-side img {

    max-width: 400px;
    max-height: 400px;
    margin-right: 3rem;
    margin-top: 1.2rem;

}

@media (max-width:992px) {

    .main-page-left-side {
        padding-right: 2rem;
    }

    .main-page-rigth-side img {
        margin-left: 2rem;
        margin-right: 1rem;
        margin-top: 1.2rem;

    }
}

@media screen and(max-width:768px) {
    .main-page {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "text"
                            "image";

    }
    .main-page-left-side {
        grid-area: text;
        margin-top: 30px;
    
        width: 100%;
        height: 70vh;
        padding-left: 1rem;
    
    }

    .main-page-right-side {
      grid-area: "image";
        margin-top: 30px;



    }

}